@import "../../public";
//登录注册页背景
$front-back: rgba(45, 58, 75, 0.98);
//前台 内容 背景色
$content-back: null;
//前台基本宽度
$front-width: 380px;
//前台LOGO基本高度
$front-logo-height: 240px;
//前台 内部内容左右padding
$front-content-padLR: 40px;
//前台 内部内容上下padding
$front-content-padTB: 40px;
//前台 基本 间隙值
$front-base-gap: 10px;

.front {
  display: flex;
  align-items: center; /*定义body的元素垂直居中*/
  justify-content: center; /*定义body的里的元素水平居中*/
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: $front-back;
  background-size: cover;
  .el-checkbox, .el-checkbox__label {
    color: $--color-white;
  }
  /*login forget register resetpw successpw  ----- logo*/
  .front-Logo {
    text-align: center;
    font-size: 48px;
    font-style: normal;
    color: #ffffff;
    padding: 38px 0 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
    i {
      font-size: 40px;
    }
  }

  /*login forget register resetpw successpw  ----- mainbg*/
  #login.front-content {
    position: absolute;
    width: $front-width;
    padding: $front-content-padTB $front-content-padLR;
    left: 50%;
    top: 50%;
    margin-left: -$front-width/2;
    margin-top: -250px;
    background-color: $content-back;
    border-radius: 20px;
    box-sizing: border-box;
    //操作文字
    .handle {
      a {
        padding-left: 0;
        color: $--color-white;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: $--color-primary;
          text-decoration: underline;
        }
      }
      margin-bottom: 10px;
    }
    .el-input {
      .el-input__inner {
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: $front-back !important;
        color: #ffffff !important;
        border-radius: 5px;
      }
    }
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px $front-back inset;
      border: 1px solid rgba(255, 255, 255, .1) !important;
      color: #ffffff !important;

    }
    input[type=text]:focus, input[type=password]:focus, textarea:focus {
      -webkit-box-shadow: 0 0 0 1000px $front-back inset;
      border: 1px solid rgba(255, 255, 255, .1) !important;
      color: #ffffff !important;
    }
  }
}







